/* default ratios (width/height):
    img: 3/2
    slide: 8/7
    slide height/text height: .56
*/

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-outer-wrapper {
  display: flex;
  justify-content: center;
}

.carousel-inner-wrapper {
  position: relative;
  overflow: hidden;
  background-color: #efefef;
  border: 1px solid #c4c3be;
  width: 800px;
  height: 700px;
}

.carousel-slide {
  width: 800px;
  height: 700px;
  position: absolute;
  transition: all .5s linear;
}

.carousel-slide-left {
  left: -100%;
}

.carousel-slide-right {
  left: 100%;
}

.carousel-slide-active {
  left: 0;
}

.carousel-slide-img {
  display: block;
  width: 750px;
  height: 500px;
  margin: 25px auto;
}

.carousel-slide-text-wrapper {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 125px;
  width: 745px;
  font-family: "Helvetica", sans-serif;
  color: #444;
}

.carousel-slide-header {
  font-size: 1.5em;
  margin: 0;
}

.carousel-btn {
  border: none;
  background: inherit;
  font-size: 4em;
  outline: none;
  margin: 50px;
}

.carousel-btn:hover {
  color: #f47d42;
}

.carousel-scroll-indicator {
  height: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.carousel-pip {
  margin: 0 5px;
  color: gray;
  transition: font-size .3s linear;
}

.carousel-pip-active {
  color: #f47d42;
  font-size: 1.5em;
  line-height: 66%;
}

@media (max-width: 1060px) {

  .carousel-inner-wrapper {
    width: 650px;
    height: 600px;
  }

  .carousel-slide-img {
    width: 600px;
    height: 430px;
    margin: 20px 25px;
  }

  .carousel-slide-text-wrapper {
    width: 595px;
    font-size: .9em;
    justify-content: center;
  }

  .carousel-slide-header {
    font-size: 1.2em;
  }

  .carousel-btn {
    margin: 0 15px;
  }
}

@media (max-width: 800px) {

  .carousel-inner-wrapper {
    width: 500px;
    height: 480px;
  }

  .carousel-slide-img {
    width: 480px;
    height: 320px;
    margin: 10px;
  }

  .carousel-slide-text-wrapper {
    width: 476px;
    margin: 12px;
    font-size: .9em;
    justify-content: center;
  }

  .carousel-slide-header {
    font-size: 1.2em;
  }

}

@media (max-width: 630px) {

  .carousel-inner-wrapper {
    width: 350px;
    height: 400px;
  }

  .carousel-slide-img {
    width: 340px;
    height: 225px;
    margin: 5px;
  }

  .carousel-slide-text-wrapper {
    width: 334px;
    font-size: .8em;
    height: 165px;
    margin: 8px;
    justify-content: center;
  }

  .carousel-slide-header {
    font-size: 1.2em;
  }

  .carousel-btn {
    font-size: 2em;
  }
}

@media (max-width: 440px) {

  .carousel-inner-wrapper {
    width: 300px;
    height: 350px;
  }

  .carousel-slide-img {
    width: 290px;
    height: 195px;
    margin: 5px;
  }

  .carousel-slide-text-wrapper {
    width: 290px;
    margin: 5px;
    height: 165px;
    justify-content: center;
    font-size: .75em;
  }

  .carousel-slide-header {
    font-size: 1.2em;
  }

  .carousel-btn {
    margin: 5px;
    font-size: 1.7em;
  }
}

@media (max-width: 330px) {

  .carousel-inner-wrapper {
    width: 270px;
    height: 350px;
  }

  .carousel-slide-img {
    width: 260px;
    height: 175px;
    margin: 5px;
  }

  .carousel-slide-text-wrapper {
    width: 260px;
    margin: 5px;
    height: 165px;
    justify-content: center;
    font-size: .75em;
  }

  .carousel-slide-header {
    font-size: 1.2em;
  }

  .carousel-btn {
    margin: 3px;
    font-size: 1.6em;
    transform: scale(1, 2);
    padding: 3px;
  }
}
