/* default ratios (width/height):
    img: 3/2
    slide: 8/7
    slide height/text height: .56
*/

.carousel-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-outer-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-inner-wrapper {
  position: relative;
  overflow: hidden;
  background-color: #efefef;
  border: 1px solid #c4c3be;
  width: 800px;
  height: 700px;
}

.carousel-slide {
  width: 800px;
  height: 700px;
  position: absolute;
  transition: all .5s linear;
}

.carousel-slide-left {
  left: -850px;
}

.carousel-slide-right {
  left: 850px;
}

.carousel-slide-active {
  left: 0;
}

.carousel-slide-img {
  display: block;
  width: 750px;
  height: 500px;
  margin: 25px auto;
}

.carousel-slide-text-wrapper {
  margin: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 125px;
  font-family: "Helvetica", sans-serif;
  color: #444;
}

.carousel-slide-header {
  font-size: 1.5em;
  margin: 0;
}

.carousel-btn {
  border: none;
  background: inherit;
  font-size: 4em;
  outline: none;
  margin: 50px;
}

.carousel-btn:hover {
  color: #f47d42;
}

.carousel-scroll-indicator {
  height: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.carousel-pip {
  margin: 0 5px;
  color: gray;
  transition: font-size .3s linear;
}

.carousel-pip-active {
  color: #f47d42;
  font-size: 1.5em;
  line-height: 66%;
}
